*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #38686A;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.container{
    height: 70vh;
    width: 60vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.game{
    height: 60vmin;
    width: 60vmin;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    border: none;
    color: #9B1D20;
    width: 18vmin;
    border-radius: 25px;
    box-shadow: 0 0 1rem rgba(0, 0,0, 0.2);
    font-size: 8vmin;
    background-color: aquamarine;
}
main > button{
    height: 50px;
    width: 150px;
    color: #ececec;
    background-color: #000000;
    border-radius: 15px;
    box-shadow: 0 0 1rem rgba(0, 0,0, 0.2);
    border: none;
    font-size: 15px;
}
#new-btn{
    height: 50px;
    width: 150px;
    color: #ececec;
    background-color: #000000;
    border-radius: 15px;
    box-shadow: 0 0 1rem rgba(0, 0,0, 0.2);
    border: none;
    font-size: 15px;
}
.msg{
    width: 100%;
}
.msg>p{
    background-color: aquamarine;
    font-size: 7vmin;
    margin: 5px;
}
.hide{
    display: none;
}
.copyright{
    position: fixed;
    right: 0px;
    bottom: 0px;

}
